
@{
    ViewBag.Title = "HomeMerkur";
}

<h2>Paqueteria Merkur</h2>
<html>
<head>
    <title>Texto a dos columnas con tablas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    
        <table>
            <tr>
                <td>
                    MISION:Apoyar y proporcionar una ventaja valiosa a las comunidades con estos servicios y consolidar
                    activamente esta reputacion nacional con la asignacion estrategica con nuestra gente, recursos, red.
                </td>
                <td>
                    VISION:Nuestra vision consiste en sustituir el stock de informacion.La manera de hacer esto es creando un sistema
                    de distribucion que sea tan bueno como un almacen. Si a la gente se le puede convencer de que sus productos estan en el
                    "almacen" de Merkur entonces no abra mas necesidad de almacenarlos en un almacen fisico. Este "almacen virtual" es un
                    practico ejemplo de la sustitucion del stock por informacion, y esto esta ocurriendo ahora mismo.
                </td>
            </tr>
        </table>
</body>
</html>

                <div>
                    <img src="~/ImagenesHome/CamionMerkur.jpeg" alt="QuieroPizza" style="width: 100%; max-width: 800px;" />
                </div>

